{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard de Estoque</h2>
<canvas id="graficoBarras" height="120"></canvas>
<canvas id="graficoPizza" height="120" class="mt-5"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
fetch('/dados')
  .then(response => response.json())
  .then(data => {
    const nomes = data.map(item => item.nome);
    const quantidades = data.map(item => item.quantidade);
    const categorias = {};
    data.forEach(item => {
        categorias[item.categoria] = (categorias[item.categoria] || 0) + item.quantidade;
    });

    new Chart(document.getElementById('graficoBarras'), {
      type: 'bar',
      data: {
        labels: nomes,
        datasets: [{
          label: 'Quantidade em Estoque',
          data: quantidades,
          backgroundColor: 'rgba(54, 162, 235, 0.6)'
        }]
      }
    });

    new Chart(document.getElementById('graficoPizza'), {
      type: 'pie',
      data: {
        labels: Object.keys(categorias),
        datasets: [{
          label: 'Categorias',
          data: Object.values(categorias),
          backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56', '#2ecc71']
        }]
      }
    });
  });
</script>
{% endblock %}